extends ../layout

block content
    div.row.cf_profile
        div.container
            h5 Мой профиль
            div Email: #{user.local.email}
            br/
            h3 Локальный аккаунт
            a(href='#') создать email и пароль
            br/
            div Email: #{user.local.email}
            div Пароль: #{user.local.password}
            br/
            h5 Привязанные аккаунты на других сервисах
            
            div.list
                h6 FACEBOOK
                ul
                    -if (user.facebook.token)
                        li id = #{user.facebook.id}
                        li token = #{user.facebook.token}
                        li email = #{user.facebook.email}
                        li name = #{user.facebook.name}
                        li
                            a(href="/unlink/facebook").btn_white Отключить
                    -else
                        li
                            a(href="/connect/facebook").btn_white Подключить
            
            div.list
                h6 VK
                ul
                    -if (user.vk.token)
                        li id = #{user.vk.id} 
                        li token = #{user.vk.token} 
                        li username = #{user.vk.username} 
                        li name = #{user.vk.name}
                        li
                            a(href="/unlink/vk").btn_white Отключить
                    -else
                        li
                            a(href="/connect/vk").btn_white Подключить
                    
            div.list
                h6 TWITTER
                ul
                    -if (user.twitter.token)
                        li id = #{user.twitter.id}
                        li token = #{user.twitter.token}
                        li username = #{user.twitter.username}
                        li displayName = #{user.twitter.displayName}
                        li
                            a(href="/unlink/twitter").btn_white Отключить
                    -else
                        li
                            a(href="/connect/twitter").btn_white Подключить
            div.list
                h6 GOOGLE
                ul
                    -if (user.google.token)
                        li id = #{user.google.id}
                        li token = #{user.google.token}
                        li email = #{user.google.email}
                        li name = #{user.google.name}
                        li
                            a(href="/unlink/google").btn_white Отключить
                    -else
                        li
                            a(href="/connect/google").btn_white Подключить
                    
            div.list
                h6 ODNOKLASSNIKI
                ul
                    -if (user.odnoklassniki.token)
                        li id = #{user.odnoklassniki.id}
                        li token = #{user.odnoklassniki.token}
                        li email = #{user.odnoklassniki.email}
                        li name = #{user.odnoklassniki.name}
                        li
                            a(href="/unlink/odnoklassniki").btn_white Отключить
                    -else
                        li
                            a(href="/connect/odnoklassniki").btn_white Подключить
            
            a(href="/logout") Logout 